
@{
    ViewBag.Title = "Expression";
}

<div class="toolbar"></div>
<div>

    <div class="left-wrap">
        @*这里是左侧分组 系统变量/数据模型/工具函数*@
    </div>
    <div class="center-wrap">

    </div>
    <div class="centerbottom-wrap">
        @*这里是想详细的表达式提示*@
    </div>
</div>

