@{
    Layout = "~/Areas/FormBuilder/Views/Layout/BaseListContainer.cshtml";
    ViewBag.Title = "Web框架";
}


<style>
</style>


<section class="left-nav">
    <ul>
        <li>
            <a href="#" class="logo"><i class="lee-ion-social-foursquare"></i><span>FormBulider</span></a>
        </li>
    </ul>

</section>


<div class="center-nav">
    <div class="lee-nav top-nav">

        <a class="tooglebtn"><i class="lee-ion-android-menu"></i></a>
        @*<ul>
                <li>
                    <a href="#" style="font-size: 18px;"><i style="font-size: 18px;margin-right: 5px;" class="lee-ion-social-foursquare"></i>FormBulider</a>
                </li>
            </ul>*@
        <ul style="float: right;">
            <li>
                <a href="#"><i style="margin-right: 5px;" class="lee-ion-search"></i>搜索</a>
            </li>
            <li>
                <a href="#"><i style="font-size:16px;" class="lee-ion-android-notifications"></i></a>
            </li>
            @*<li class="dropdown ">
                    <a href="#" data-toggle="dropdown"><i style="margin-right: 5px;" class="lee-ion-android-notifications"></i>通知</a></a>
                    <ul class="dropdown-menu dropdown-menu-right">

                        sdfa

                    </ul>
                </li>*@
            <li class="dropdown " style="margin-right: 5px;">
                <a href="#" data-toggle="dropdown">
                    <span class="avatar">
                        <img src="~/CSS/images/user.png" />
                    </span>
                    <span class="username">李伟龙</span>
                    <i style="margin-left: 5px;" class="lee-ion-android-arrow-dropdown"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">

                    <li>
                        <a href="###"><i class="lee-ion-android-contact"></i>个人资料</a>
                    </li>
                    <li>
                        <a href="###"><i class="lee-ion-android-exit"></i>修改密码</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="###"><i class="lee-ion-android-exit"></i>退出登录</a>
                    </li>


                </ul>
            </li>
        </ul>

        <ul></ul>
    </div>
    <div class="tabbar" style="">
        <div title="首页">
            <div class="row">
                <div class="col-md-8 ui cards">

                    <div class="card">
                        <div class="content">
                            <div class="header">Elliot Fu</div>
                            <div class="meta">Friend</div>
                            <div class="description">Elliot Fu is a film-maker from New York. </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="header">Veronika Ossi</div>
                            <div class="meta">Friend</div>
                            <div class="description">Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying. </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="header">Jenny Hess</div>
                            <div class="meta">Friend</div>
                            <div class="description">Jenny is a student studying Media Management at the New School </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">ads</div>

            </div>
        </div>
    </div>
</div>
@section ExternalScripts{

    <script src="~/Scripts/FrameWork/page.js"></script>
    <script src="~/Scripts/FrameWork/framework.js"></script>
    <link rel="stylesheet" href="~/CSS/runtime.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/CSS/framework/framework.css" />
}
