@{
    Layout = "~/Areas/FormBuilder/Views/Layout/BaseListContainer.cshtml";
    ViewBag.Title = "Web框架";
}



@*左侧布局*@


<style>





    .lee-search-words {
        border: 1px solid #e6f7f8;
        background-color: #e6f7f8;
    }

    .lee-search-wrap .search {
        border: 1px solid #e6f7f8;
        background-color: #e6f7f8;
    }

    .lee-search-wrap .search:hover {
        background: #c4dfe0;
        border-color: #c4dfe0;
    }
    .dropdown-menu.typeahead{
        width:227px;
        font-size:12px;
    }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        color: #2b2b2b;
    }
</style>
<section class="left-nav">
    <ul>
        <li>
            <a href="#" class="logo"><i class="lee-ion-social-foursquare"></i><span>FormBulider</span></a>
        </li>
    </ul>
</section>

<div class="center-nav">
    <div class="lee-nav top-nav">

        <a class="tooglebtn">

            <i class="iconfont  icon-shouqi">

            </i>
        </a>
        @*<ul>
                <li>
                    <a href="#" style="font-size: 18px;"><i style="font-size: 18px;margin-right: 5px;" class="lee-ion-social-foursquare"></i>FormBulider</a>
                </li>
            </ul>*@
        <ul style="float: right;">
            <li>

                <div class="lee-search-wrap lee-toolbar-item" style="margin-top: 8px;"><input class="lee-search-words" id="searchKeyWord" type="text" placeholder="请输入查询关键字"><i class="lee-ion-close close"></i><button class="search lee-ion-search" type="button"></button></div>
                @*<a href="#"><i style="margin-right: 5px;" class="lee-ion-search"></i>搜索</a>*@
            </li>
            <li>
                <a href="#"><i style="font-size:16px;" class="lee-ion-android-notifications"></i></a>
            </li>
            <li class="dropdown " style="margin-right: 5px;">
                <a href="#" data-toggle="dropdown">
                    <span class="avatar">
                        <img src="~/CSS/images/user.png" />
                    </span>
                    <span class="username">李伟龙</span>
                    <i style="margin-left: 5px;" class="lee-ion-android-arrow-dropdown"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">

                    <li>
                        <a href="###"><i class="lee-ion-android-contact"></i>个人资料</a>
                    </li>
                    <li>
                        <a href="###"><i class="lee-ion-android-exit"></i>修改密码</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="###"><i class="lee-ion-android-exit"></i>退出登录</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>



    <div class="tabbar" style="">
        <div title="首页" style="background: #fbfbfb;overflow: auto;">

        </div>
    </div>
</div>



@section ExternalScripts{

    @*<script src="~/Scripts/FrameWork/page.js"></script>*@
    <script src="~/Scripts/FrameWork/framework.js"></script>
    <script src="~/DList/typeahead.js"></script>
    @*<link rel="stylesheet" href="~/CSS/runtime.css"/>*@
    <link rel="stylesheet" href="~/CSS/framework/framework.css" />
    <link rel="stylesheet" href="~/CSS/framework/iconfont.css" />

    <script>
       
    </script>

}
