<?xml version="1.0" encoding="utf-8"?> 
<configuration> 
  <configSections> 
    <section name="CommonConfig" type="Com.CF.FrameworkCore.Configuration.CommonConfigSetting, Com.CF.FrameworkCore.Configuration" />
    <section name="ExceptionStrategyConfig" type="Com.CF.FrameworkCore.Service.ExceptionActionConfigSetting, Com.CF.FrameworkCore.Service" />
    <section name="FrameworkEventListener" type="Com.CF.FrameworkCore.Common.DllConfigSetting, Com.CF.FrameworkCore.Event" />
    <section name="FrameTimmerTask" type="Com.CF.FrameworkCore.Common.DllConfigSetting, Com.CF.FrameworkCore.Event" />
    <section name="DataStringConfig" type="Com.CF.DatabaseAccess.Util.DataStringConfigSetting, Com.CF.DatabaseAccess.Util" />
  </configSections> 
  <CommonConfig>
      <!--获取CA状态-->
    <add key="CAStatusUrl" value="http://10.73.5.37/cwbase/web/session/cepp/EPEPM/EPEPM.WebMgr/service/AppService.asmx" />
    <!--调用ids接口配置-->
    <add key="idsUrl" value="https://login.crecgwm.com" />
    <add key="clientId" value="1000000116" />
    <add key="clientSecret" value="cm08wz2wm2r9hvbvcqysz4szgylu4c" />
    <!--移动端消息推送-->
    <add key="messagePushUrl" value="" />
    <add key="LogDatabaseCode" value="logstorage"/>
    <add key="MainDatabaseCode" value="build6framework"/>
    <add key="PrimarySite" value="localhost"/>
    <add key="RedisPath" value="192.168.1.108:6379"/>
    <add key="CoverLogin" value="true" />
    <add key="SessionExpiredTime" value="20" />
    <!--<add key="AuthType" value="UserPassword:用户名密码|Certificate:数字证书|UserPassword&amp;Certificate:组合认证" />-->
    <add key="AuthType" value="UserPassword:用户名密码|Certificate:数字证书|UserPassword&amp;Certificate:组合认证" />
  </CommonConfig> 
  <DataStringConfig>
    <add Source="build6framework" UserName="dbuser" UserPwd="5kP5liZU1mI=" DbName="build6framework" Ip="192.168.1.103" Port="3306" OutTime="60" DbType="MySql" Service="" ProviderName="MySql.Data.MySqlClient"/>
    <add Source="commonframework" UserName="dbuser" UserPwd="5kP5liZU1mI=" DbName="commonframework" Ip="192.168.1.103" Port="3306" OutTime="60" DbType="MySql" Service="" ProviderName="MySql.Data.MySqlClient"/>
    <add Source="pladb1" UserName="dbuser" UserPwd="5kP5liZU1mI=" DbName="pladb1" Ip="192.168.1.103" Port="3306" OutTime="60" DbType="MySql" Service="" ProviderName="MySql.Data.MySqlClient"/>
  </DataStringConfig> 
  <ExceptionStrategyConfig>
    <add id="Log" exceptioncode="ExceptionLog" exceptionname="Log" dllname="Com.CF.FrameworkCore.Service.dll" implclass="Com.CF.FrameworkCore.Service.LogExceptionStrategy" parameter=""/>
  </ExceptionStrategyConfig>
  <FrameworkEventListener>
    <add code="ServerFramework" name="ServerFramework" assemblyname="Com.CF.WebFramework.ServerListener" implclassname="Com.CF.WebFramework.ServerListener.FrameEventListener" para="" description=""/>
    <!--<add code="TestFramework" name="TestFramework" assemblyname="Com.CF.WebFramework.ServerListener" implclassname="Com.CF.WebFramework.ServerListener.TestEventListener" para="" description=""/>-->
  </FrameworkEventListener>
  <FrameTimmerTask>
    <add code="ClearUStateAction" name="ClearUStateAction" assemblyname="local" implclassname="Com.CF.WebFramework.TimmerTaskService.ClearUStateAction" para="" description=""/>
  </FrameTimmerTask>
</configuration>