<?xml version="1.0"?>
<configuration>
  <IocProvider>
    <add key="session" assembly="FormBuilder.SessionProvider" classname="FormBuilder.SessionProvider.Session" />
    <add key="file"   assembly="" classname=""/>
  </IocProvider>
  <AppSettings>
    <add key="loginurl" value="/FormBuilder.Web/FormBuilder/Login?callbackurl=" />
    <add key="loginurlBase64" value="1" />
    <add key="DataIPIntranet" value="1" />
    <add key="DataIP" value="1" />
    <add key="FileIpIntranet" value="1" />
    <add key="FileIp" value="1" />
  </AppSettings>
</configuration>