<?xml version="1.0"?>
<configuration>
  <IocProvider>
    <add key="session" assembly="FormBuilder.Utilities" classname="FormBuilder.Utilities.BaseSessionProvider" />
    <add key="file"   assembly="" classname=""/>
  </IocProvider>
  <AppSettings>
    <add key="loginurl" value="~/FormBuilder/Login?callbackurl=" />
    <add key="loginurlBase64" value="1" />
  </AppSettings>
</configuration>