
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/FormBuilder/Views/Layout/BaseListContainer.cshtml";
}
<style>

    .lee-form .label {
        background: none;
    }

    .lee-form td {
        border-left: 0;
        border-bottom:0;
        border-right: 0;
    }
</style>
<div id="btngroup">
    @*<button class="lee-btn lee-btn-primary" id="btnaddChild">
            <i class="lee-ion-person-add"></i>
            <span>新建导航图</span>
        </button>*@
</div>
@*<div class="filter_wrap" style="overflow:auto;">

        <div class="search_wrap" style="padding: 0px 15px;float:left;">
            <div class="lee-search-wrap">
                <input id="txtkeyword" class="lee-search-words" type="text" placeholder="请输入查询关键字">
                <button class="search lee-ion-search" id="btnSearch"></button>
            </div>
        </div>
        <div class="view_wrap" style="float:right;margin-right:10px;">

            <div class="lee-btn-group" data-toggle="buttons">

                <label class="lee-btn ">
                    <i class="lee-ion-ios-keypad"></i>
                    <input type="radio" name="viewtype" value="0" autocomplete="off">
                </label>
                <label class="lee-btn active">
                    <i class="lee-ion-navicon"></i>
                    <input type="radio" name="viewtype" value="1" autocomplete="off">
                </label>
            </div>
        </div>

    </div>*@

<div id="dialog_create" style="display:none;">
    @*<div id="object_list_view">

        </div>*@

    <div id="DOGRID">
        <div class="lee-search-wrap" style="margin:3px;">
            <input id="txtkeywordList" style="width:300px;" class="lee-search-words" type="text" placeholder="请输入查询关键字">
            <button class="search lee-ion-search" id="btnSearchList"></button>
        </div>
        <div id="gridinfo"></div>
    </div>
    <div id="bottombar">
        <table class="lee-table lee-form">
            <tr>
                <td>编号</td>
                <td><input type="text" data-bind="Code" class="lee-input" id="txtCode"></td>
                <td>名称</td>
                <td><input type="text" data-bind="Name" class="lee-input" id="txtName"></td>
            </tr>
        </table>
    </div>

</div>
<div id="grid" class="lee-list" style="margin-top:3px;">
</div>

<div style="padding: 10px;margin-top:15px;display:none;" id="FormEdit">
    <form id="form" data-validator-option="{ theme:'yellow_top'}">
        <div id="container"></div>
        <table class="lee-form">
            <tr>
                <td class="label">
                    编号
                </td>
                <td class="editor">
                    <input type="text" class='lee-input required' data-rule-password="[/^\d{6}$/, '请填写6位数字']"
                           data-msg-required="请填写编号"
                           data-rule="required" data-bind="Code" id='txtCode'>
                </td>
                <td class="label">
                    名称
                </td>
                <td class="editor">
                    <input type="text" class='lee-input required' data-rule="required" data-msg-required="请填写名称" data-bind="Name" id='txtName'>
                </td>
            </tr>

            <tr>
                <td class="label">
                    矢量图类型
                </td>
                <td class="editor" colspan="3">
                    <input type="text" class='lee-input ' data-bind="GraphType" id='txtGraphType'>
                </td>
            </tr>

            <tr>
                <td class="label">
                    备注
                </td>
                <td class="editor" colspan="3">
                    <textarea class='lee-input ' data-bind="Note" style="height:130px;"></textarea>
                </td>

            </tr>
        </table>
    </form>
</div>

<div id="listview" class="lee-list">
</div>
<style>
    #listview {
        overflow: auto;
        padding: 10px;
    }

    .lee-listview-wrapper {
        overflow: auto;
    }

    .lee-listview-pager {
        margin-top: 10px;
    }




    /*工具栏*/
    #btngroup {
        padding: 5px 15px;
        border-bottom: 1px solid #CCC;
        margin-bottom: 10px;
        /*background: #fbfbfb;*/
        box-shadow: 1px 1px 6px rgba(185, 185, 185, 0.3);
    }



    /*添加模型dialog 样式Begin*/
    #dialog_create #bottombar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #dialog_create #bottombar .lee-form td {
        border: 0;
        border-top: 1px solid #DDD;
    }




    #object_list_view .lee-listivew {
        position: absolute;
        top: 0;
        bottom: 37px;
        left: 0;
        right: 0;
    }

    #object_list_view .lee-listview-pager {
        bottom: 0;
        position: absolute;
        margin-left: 10px;
        left: 0;
        right: 0;
        margin-bottom: 5px;
    }

    #object_list_view .lee-listview-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 40px;
    }


    #object_list_view .box {
        float: left;
        padding: 10px;
        border: 1px solid #DDD;
        width: 100px;
        margin: 5px;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
    }

    #object_list_view .box.active {
        border: 1px solid #108ee9;
        font-weight: bold;
    }

    .lee-panel-footer {
        background: #FFF;
    }

    .prevgroup + .separator, .changepage, .changepage + .separator, .selectpagesize, .selectpagesize + .separator, .refreshgroup + .separator {
        display: none;
    }

    .lee-panel-footer-inner .group .lee-bar-button {
        border-color: transparent;
    }

    .lee-panel-footer-inner .group .lee-bar-button.lee-disabled {
        border-color: transparent !important;
        color: #4e4e4e !important;
    }

    .lee-grid .lee-grid-header, .lee-grid .lee-grid-hd-cell {
        background: #FDFDFD;
    }
</style>
@section ExternalScripts{

    <script src="~/Scripts/FrameWork/page.js"></script>
    <script src="~/Scripts/Visio/list.js"></script>
}



