
@{
    ViewBag.Title = "ListView";
    Layout = "~/Areas/FormBuilder/Views/Layout/BaseListContainer.cshtml";
}

<h2>ListView</h2>

<span>
    实现效果
    <p>
        1.表头 表体样式
        2.表头宽度改变 创建Style
        3.表体多选和鼠标悬停右键菜单
        4.鼠标拖拽选中
        5.鼠标拖拽移动
        6.表体点击排序
    </p>
</span>

