@{
    Layout = "~/Areas/FormBuilder/Views/Layout/BaseListContainer.cshtml";
    ViewBag.Title = "数据模型事件扩展";
}
<div style="padding:5px;padding: 5px;border-bottom: 1px solid #CCC;background: #fbfbfb;">
    <div id="btngroup">
        <button class="lee-btn lee-btn " id="btnImport">
            <i class="lee-ion-android-share"></i>
            <span>添加</span>
        </button>
        <button class="lee-btn lee-btn-danger " id="btndelCol">
            <i class="lee-ion-close"></i>
            <span>删除</span>
        </button>
        <span class="btnline"></span>
        <button class="lee-btn lee-btn-sucess" id="btnSave">
            <i class="lee-ion-edit"></i>
            <span>保存</span>
        </button>
    </div>
    <div id="searchwrap"></div>
</div>
<div id="layout1">
    <div position="center">
        <div class="tabinfo" id="tab" style="padding:5px 3px;">
            <div title="事件扩展" id="wrap_deletecheck">
                <div class=" lee-alert warning " style="margin-top:5px;margin-bottom:5px;">
                    删除模型数据时候会先检查、会自动根据数据模型关联条件生成，这里出现则代表此对象被其他模型关联引用
                    <a id="deleteDeleteRow" href="#" class="lee-btn lee-btn-danger lee-btn-small" style="float:right;margin-left:3px;">删除</a>
                    <a id="addDeleteRow" href="#" class="lee-btn lee-btn-small" style="float:right;">增加</a>

                </div>
                <div id="gridExtend" style="margin-top:5px">

                </div>
            </div>
        </div>
    </div>
</div>






<style>

</style>
@section ExternalScripts{

    <script src="~/Scripts/FrameWork/page.js"></script>
    <script src="~/Scripts/Common/global.js"></script>
    <script src="~/Scripts/DM/extend.js"></script>
}


<script>
    $(function () {




    });
</script>
