.ztree {
	margin: 0px;
	padding: 10px 0px;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.ztree li {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
	white-space: nowrap;
	outline: 0;
}

.ztree li ul {
	margin: 0;
	padding: 0;
}

/*.ztree li.level0 {
	margin-bottom: 4px;
}

.ztree li.level0>span.tree_icon {
	width: 20px;
}*/

.ztree li span {
	line-height: 24px;
}

.ztree li span.button {
	line-height: 0;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	background-repeat: no-repeat;
	height: 24px;
	width: 20px;
	margin-right: 5px;
}

.ztree li span.button.switch {
	width: 21px;
	height: 21px;
	margin-right: 0px;
	background: none;
	text-align: center;
	line-height: 21px;
}

.ztree li span.button.switch:hover {
	/*background: rgba(0, 0, 0, 0.03);*/
}

.ztree li span.button.switch:after {
	content: "\f0da";
	font-family: FontAwesome;
	color: #aaa;
	text-decoration: inherit;
	font-size: 1.25em;
	line-height: 16px;
	padding-left: 0px;
	-webkit-font-smoothing: antialiased;
}

.ztree li span.button.switch.noline_docu:after {
	content: ' ';
}

.ztree li span.button.switch.noline_open:after,
.ztree li span.button.switch.noline_open_hover:after {
	content: "\f0d7";
}

.ztree li span.button.switch.switch_hover:after {
	color: #63acff;
}

.ztree li span.button.ico_loading {
	background: url("images/common/loading_tree.gif") no-repeat 0 0px transparent !important;
}

.ztree li span.button.ico_loading .x-item-file {
	display: none;
}

.ztree li span.tree_icon {
	height: 21px;
	width: 21px;
	background: none;
	overflow: hidden;
}

.ztree li span.tree_icon img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.ztree li a {
	padding-top: 0px;
	cursor: pointer;
	text-decoration: none;
	display: block;
	margin: 0;
	color: #333;
	vertical-align: top;
	line-height: 26px;
	height: 26px;
	padding-left: 10px;
	border: 1px solid #fff;
	position: relative;
	margin: 0;
}

.ztree li a:hover {
	text-decoration: none;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	-ms-transition: all 0.1s;
	transition: all 0.1s;
	background: #eee;
	height: 26px;
	border: 1px solid #eee;
}

.ztree li a.curSelectedNode,
.ztree li a.curDropTreeNode {
	border: 1px solid #63acff;
	background: #63acff;
	line-height: 26px;
	height: 26px;
	color: #fff;
}

.ztree li a.curSelectedNode .button.switch:after,
.ztree li a.curDropTreeNode .button.switch:after {
	color: #fff !important;
}

.ztree li a.curDropTreeNode {
	box-shadow: 0 0 0 1px #fff inset !important;
}

.ztree li a.curSelectedNode_Edit {
	border: 1px solid #63acff;
	background: #63acff;
	color: black;
	height: 24px;
}

.ztree li a input.rename {
	height: 24px;
	line-height: 24px;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	margin-left: -3px;
	padding-left: 3px;
	width: 106px;
	position: absolute;
	margin-top: 0;
}

.ztree li a span.button.root_docu,
.ztree li a span.button.noline_docu {
	background: none;
}

.ztree li a .menu-item {
	display: none;
	position: absolute;
	right: 4px;
	top: 4px;
	width: 14px;
	height: 13px;
	box-sizing: content-box;
	text-align: center;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 2px;
	cursor: pointer;
	z-index: 50;
}

.ztree li a .menu-item:hover {
	border-color: #3399ff;
	background: #dff1ff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.ztree li a .menu-item:hover .cert {
	border-top-color: #3399ff;
}

.ztree li a .menu-item .cert {
	margin-top: 5px;
	margin-left: 3px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid silver;
}

.ztree li a:hover .menu-item,
.ztree li a.curSelectedNode .menu-item {
	display: block;
}

ul.ztree.zTreeDragUL {
	margin: 0;
	padding: 0;
	position: absolute;
	width: auto;
	height: auto;
	background-color: #63acff;
	border: 1px solid #63acff;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

ul.ztree.zTreeDragUL li a span.space {
	display: none !important;
}

ul.ztree.zTreeDragUL li a {
	padding: 4px 10px 0 10px;
	color: #fff;
}

ul.ztree.zTreeDragUL li span.button.switch {
	display: none;
}

.ztree li a.tmpTargetNode_inner {
	background: #0076fc;
	border: 1px solid #3091ff;
	color: #fff;
}

.ztree li a.tmpTargetNode_prev {
	border-bottom: 1px solid #f96;
}

.ztree li a.tmpTargetNode_next {
	border-bottom: 1px solid #f96;
}

.ztree li a {
	margin: 0 2px;
	border-color: transparent;
}

.ztree li a:hover {
	-webkit-transition: transform 0.2s;
	-moz-transition: transform 0.2s;
	-o-transition: transform 0.2s;
	-ms-transition: transform 0.2s;
	transition: transform 0.2s;
	background: #e5f3ff;
	border-color: transparent;
	border-radius: 0px;
	border-radius: 0;
	filter: none;
	color: #335;
}

.ztree li a.curSelectedNode,
.ztree li a.curSelectedNode:hover,
.ztree li a.curDropTreeNode {
	-webkit-transition: transform 0.2s;
	-moz-transition: transform 0.2s;
	-o-transition: transform 0.2s;
	-ms-transition: transform 0.2s;
	transition: transform 0.2s;
	background: #cce8ff;
	border-color: #99d1ff;
	border-radius: 0px;
	filter: none;
	color: #335;
}

.ztree li a.curSelectedNode .button.switch:after,
.ztree li a.curSelectedNode:hover .button.switch:after,
body .frame-main .frame-left .ztree li a.curDropTreeNode .button.switch:after {
	color: inherit !important;
}

.ztree li a span.button.switch:after {
	content: "\f105";
	font-size: 16px;
}

.ztree li a span.button.switch.noline_open:after,
.ztree li a span.button.switch.noline_open_hover:after {
	content: "\f107";
	font-weight: 800;
	color: #76bdf7;
}

.ztree li a span.button.switch.noline_docu:after {
	content: "";
	opacity: 0;
	filter: alpha(opacity=0);
}


/*ztree扩展列样式*/

.ztree li a .name {
	width: 45%;
	overflow: hidden;
	position: absolute;
	word-break: break-all;
	text-overflow: ellipsis;
}

.ztree li a .time {
	width: 27%;
	opacity: 0.8;
	font-size: 12px;
	position: absolute;
	left: 72%;
}

.ztree li a .type {
	width: 10%;
	opacity: 0.8;
	font-size: 12px;
	position: absolute;
	left: 62%;
}
.ztree li a .size {
	width: 10%;
	opacity: 0.8;
	font-size: 12px;
	position: absolute;
	left: 52%;
}

.ztree li a .menu-item-parent {
	display: none;
	position: absolute;
	right: 0px;
	top: 0;
	text-align: center;
	width: 25px;
	height: 24px;
	background: #fff;
	background: rgba(50, 50, 50, 0.1);
	color: #666;
	margin-right: 0;
}

.ztree li a:hover .menu-item-parent {
	display: block;
}

.ztree li a.curSelectedNode .menu-item-parent {
	display: block;
	color: #fff;
}

.ztree * {
	font-size: 12px;
}

.zip-header-title {
	height: 25px;
	line-height: 24px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.zip-header-title .name {
	width: 50%;
}

.zip-header-title .item {
	float: left;
}


.zip-header-title .type{
	width: 10%;
}
.zip-header-title .item span {
	display: block;
	border-right: 1px solid #ddd;
	padding-left: 15px;
	font-size: 12px;
	cursor: default;
}

.zip-header-title .size {
	width: 10%;
}

.zip-header-title .mtime {
	width: 30%;
}
/*选中行样式*/
/*.ztree li a.curSelectedNode,
.ztree li a.odd.curSelectedNode {
	background: #2196F3 !important;
	color: #fff !important;
}*/

.ztree li a:hover,
.ztree li a.odd:hover {
	background: #fdeec3;
}

.ztree li a.odd {
	background: #f1f7ff;
}

.ztree .txt {
	height: 18px !important;
	width: 18px !important;
	display: block;
	background-image: url("images/txt_small.png");
}

.ztree .x-folder.small {
	background-image: url("images/folder_win10_small.png");
	background-image: none \9;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/folder_win10_small.png', sizingMethod='scale');
	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/folder_win10_small.png', sizingMethod='scale');
	height: 18px !important;
	width: 18px !important;
}